In [30]:
from requests import Session
from requests.exceptions import HTTPError
import json
import time
import pandas as pd
from random import uniform
import os
import copy
from matplotlib import pyplot as plt
import seaborn as sns

In [31]:
# Create a class to retry failed requests
class ResilientSession(Session):
    """
    This class is supposed to retry requests that return temporary errors.
    At this moment it supports: 500, 502, 503, 504
    """

    def request(self, method, url, **kwargs):
        counter = 0

        while True:
            counter += 1

            r = super(ResilientSession, self).request(method, url, **kwargs)

            if r.status_code in [ 500, 502, 503, 504 ]:
                delay = 10 * counter
                logging.warn("Got recoverable error [%s] from %s %s, retry #%s in %ss" % (r.status_code, method, url, counter, delay))
                time.sleep(delay)
                continue

            return r

In [32]:
# Create session object
s = ResilientSession()

In [125]:
# Load the data downloaded from api
pitching_temp = pd.read_csv('pitching_data_2012_2019.csv')

In [126]:
# Didn't save it correctly, so drop a column
pitching_temp.drop('Unnamed: 0', axis=1, inplace=True)

In [127]:
# Season 2019 plans to be test data, so let's remove it from our analysis now
pitching_temp.drop(hitting_temp[hitting_temp['season'] == 2019].index, inplace = True)

In [128]:
pitching2012 = pitching_temp[pitching_temp['season']==2012]

In [33]:
# Load the data downloaded from api
hitting_temp = pd.read_csv('hitting_data_2012_2019.csv')

In [34]:
# Didn't save it correctly, so drop a column
hitting_temp.drop('Unnamed: 0', axis=1, inplace=True)

In [35]:
# Season 2019 plans to be test data, so let's remove it from our analysis now
hitting_temp.drop(hitting_temp[hitting_temp['season'] == 2019].index, inplace = True)

In [36]:
# Some players move teams during the season, I just want their overall stats to calculate their overall score
# This series contains IDs of players that moved.
movedPlayers = hitting_temp[hitting_temp['team'].isnull()]['id']

In [37]:
# Remove team specific playerIDs leaving rolled up stats
hitting_temp.drop(hitting_temp[hitting_temp['id'].isin(movedPlayers) & 
                               hitting_temp['team'].notnull()].index,inplace = True)

In [38]:
# If primary position is null, fill it with DH
hitting_temp['primaryPosition'].fillna('DH',inplace = True)

In [39]:
# Create labels based on games played
bin_labels = ['role','bench','platoon','everyday']
hitting_temp['playing_time'] = hitting_temp.groupby('primaryPosition')['gamesPlayed'].transform(
    lambda x: pd.qcut(x,q=4, labels=bin_labels))

In [40]:
# Some stats come in as string because of some "filler" data. Coerce them into numbers
hitting_temp['avg'] = pd.to_numeric(hitting_temp['avg'],errors='coerce')
hitting_temp['obp'] = pd.to_numeric(hitting_temp['obp'],errors='coerce')
hitting_temp['slg'] = pd.to_numeric(hitting_temp['slg'],errors='coerce')
hitting_temp['stolenBasePercentage'] = pd.to_numeric(hitting_temp['stolenBasePercentage'],errors='coerce')
hitting_temp['babip'] = pd.to_numeric(hitting_temp['babip'],errors='coerce')
hitting_temp['groundOutsToAirouts'] = pd.to_numeric(hitting_temp['groundOutsToAirouts'],errors='coerce')
hitting_temp['atBatsPerHomeRun'] = pd.to_numeric(hitting_temp['atBatsPerHomeRun'],errors='coerce')

In [41]:
# get a list of season starts
# Get the **ALL** seasons
seasonStarts = {}
try:
    seasonResponse = s.get('https://statsapi.mlb.com/api/v1/seasons/all?sportId=1')
    seasonResponse.raise_for_status()

    # access JSON content
    jsonSeasonResponse = seasonResponse.json()

except HTTPError as http_err:
    print(f'HTTP error occurred: {http_err}')
except Exception as err:
    print(f'Other error occurred[season]: {err}')

for season in jsonSeasonResponse['seasons']:
    # Get data for 2012 through 2019
    if int(season['seasonId']) >= 2012 and int(season['seasonId']) < 2020:
        seasonStarts[season['seasonId']] = season['regularSeasonStartDate']
    else:
        continue

In [42]:
# Add a season start column to our data set
hitting_temp['season_start'] = hitting_temp['season'].apply(lambda x:seasonStarts[str(x)] )

In [43]:
# Use season start to calculate a players age at the start of a season
hitting_temp['age_at_start'] = (np.floor((pd.to_datetime(hitting_temp['season_start']) - 
             pd.to_datetime(hitting_temp['birthDate'])).dt.days / 365.25)).astype(int)

In [44]:
# categorize players by age at start of the season
hitting_temp['age_group'] = pd.qcut(hitting_temp['age_at_start'], 4, labels=["young", "prime", "pastprime", "old"])

In [47]:
hitting2012 = hitting_temp[hitting_temp['season']==2012]

In [64]:
hitting2012.dtypes

id                         int64
firstName                 object
lastName                  object
birthDate                 object
mlbDebutDate              object
throwHand                 object
batSide                   object
primaryPosition           object
team                      object
season                     int64
gamesPlayed                int64
groundOuts                 int64
airOuts                    int64
runs                       int64
doubles                    int64
triples                    int64
homeRuns                   int64
strikeOuts                 int64
baseOnBalls                int64
intentionalWalks           int64
hits                       int64
hitByPitch                 int64
avg                      float64
atBats                     int64
obp                      float64
slg                      float64
ops                      float64
caughtStealing             int64
stolenBases                int64
stolenBasePercentage     float64
groundIntoDoublePlay       int64
numberOfPitches            int64
plateAppearances           int64
totalBases                 int64
rbi                        int64
leftOnBase                 int64
sacBunts                   int64
sacFlies                   int64
babip                    float64
groundOutsToAirouts      float64
atBatsPerHomeRun         float64
flyOuts                  float64
playing_time            category
season_start              object
age_at_start               int32
age_group               category
singles                    int64
dtype: object

In [172]:
hitting2012[hitting2012['playing_time']=='everyday']

,id,firstName,lastName,birthDate,mlbDebutDate,throwHand,batSide,primaryPosition,team,season,...,sacFlies,babip,groundOutsToAirouts,atBatsPerHomeRun,flyOuts,playing_time,season_start,age_at_start,age_group,singles
4,488721,Peter,Bourjos,1987-03-31,2010-08-03,R,R,OF,Los Angeles Angels,2012,...,3,0.274,1.23,56.00,NaN,everyday,2012-03-28,24,young,27
17,116338,Torii,Hunter,1975-07-18,1997-08-22,R,R,CF,Los Angeles Angels,2012,...,3,0.389,1.64,33.38,NaN,everyday,2012-03-28,36,old,126
27,405395,Jose,Pujols,1980-01-16,2001-04-02,R,R,1B,Los Angeles Angels,2012,...,6,0.282,1.04,20.23,NaN,everyday,2012-03-28,32,old,93
37,545361,Michael,Trout,1991-08-07,2011-07-08,R,R,CF,Los Angeles Angels,2012,...,7,0.383,1.25,18.63,NaN,everyday,2012-03-28,20,young,117
93,452234,Garry,Smith,1982-09-30,2007-09-16,L,L,LF,Oakland Athletics,2012,...,3,0.285,1.13,27.36,NaN,everyday,2012-03-28,29,pastprime,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,430611,Jon,Hart,1982-03-24,2004-05-25,R,R,RF,Milwaukee Brewers,2012,...,3,0.318,1.05,18.73,NaN,everyday,2012-03-28,30,pastprime,83
1432,449104,James,Henderson,1982-10-21,2012-07-26,R,L,P,Milwaukee Brewers,2012,...,0,NaN,NaN,NaN,NaN,everyday,2012-03-28,29,pastprime,0
1435,115817,Eisler,Hernandez,1975-02-20,1996-09-24,R,R,P,NaN,2012,...,0,0.000,2.00,NaN,0.0,everyday,2012-03-28,37,old,0
1449,448159,Manuel,Parra,1982-10-30,2007-07-20,L,L,P,Milwaukee Brewers,2012,...,0,NaN,NaN,NaN,NaN,everyday,2012-03-28,29,pastprime,0
1469,430001,Rickie,Weeks Jr.,1982-09-13,2003-09-15,R,R,2B,Milwaukee Brewers,2012,...,2,0.285,0.98,28.00,NaN,everyday,2012-03-28,29,pastprime,81

In [62]:
hitting2012['singles'] = hitting2012['hits'] - hitting2012['doubles'] - hitting2012['triples'] - hitting2012['homeRuns']

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [173]:
# calculate how many runs per out in the leage
runs_per_out = (hitting2012['runs'].sum() / 
(pitching2012['groundOuts'] + pitching2012['airOuts'] + pitching2012['strikeOuts']).sum())

In [435]:
# create coefficients for determining run value
runBB = (hitting2012['baseOnBalls'].sum() / hitting2012['atBats'].sum() ) + runs_per_out
run1B = (hitting2012['singles'].sum() / hitting2012['atBats'].sum()) + runBB
run2B = (hitting2012['doubles'].sum() / hitting2012['atBats'].sum()) + run1B
run3B = (hitting2012['triples'].sum() / hitting2012['atBats'].sum()) + run2B
runHR = 1 + (hitting2012['homeRuns'].sum() / hitting2012['atBats'].sum()) + run3B
runSB = ((run2B - run1B) + (run3B  - run2B)) * 2


run1B

0.34564499532095855

In [532]:
# Do not include intentional walks or sac bunts as managerial decisions
# This generates "plate appearances"
# Let's do an example first -- Torii Hunter|116338
oba_denom = (hitting2012[hitting2012['id']==430001]['atBats'] +
             hitting2012[hitting2012['id']==430001]['baseOnBalls'] +
             hitting2012[hitting2012['id']==430001]['hitByPitch'] +
             hitting2012[hitting2012['id']==430001]['sacFlies']
            )

In [533]:
oba_numer = (hitting2012[hitting2012['id']==430001]['baseOnBalls']*runBB + 
 hitting2012[hitting2012['id']==430001]['hitByPitch']*runBB +
 hitting2012[hitting2012['id']==430001]['singles']*run1B + 
 hitting2012[hitting2012['id']==430001]['doubles']*run2B +
 hitting2012[hitting2012['id']==430001]['triples']*run3B + 
 hitting2012[hitting2012['id']==430001]['homeRuns']*runHR
)

In [534]:
# get league averages, except pitcher hitting data
league_oba_numer = (hitting2012[hitting2012['primaryPosition']=='CF']['baseOnBalls']*runBB + 
 hitting2012[hitting2012['primaryPosition']!='P']['hitByPitch']*runBB +
 hitting2012[hitting2012['primaryPosition']!='P']['singles']*run1B + 
 hitting2012[hitting2012['primaryPosition']!='P']['doubles']*run2B +
 hitting2012[hitting2012['primaryPosition']!='P']['triples']*run3B + 
 hitting2012[hitting2012['primaryPosition']!='P']['homeRuns']*runHR
).mean()

In [535]:
# get league averages, again except for pitcher hitting
league_oba_denom = (hitting2012[hitting2012['primaryPosition']!='P']['atBats'] +
             hitting2012[hitting2012['primaryPosition']!='P']['baseOnBalls'] +
             hitting2012[hitting2012['primaryPosition']!='P']['hitByPitch'] +
             hitting2012[hitting2012['primaryPosition']!='P']['sacFlies']
            ).mean()

In [536]:
# calculate weighted runs as woba - leage_woba scaled and then converted to back to runs by plate appearances
(((oba_numer/oba_denom)-(league_oba_numer/league_oba_denom)) / 1.25)*(hitting2012[hitting2012['id']==430001]['atBats'] +
                                          hitting2012[hitting2012['id']==430001]['baseOnBalls'] +
                                          hitting2012[hitting2012['id']==430001]['hitByPitch'] +
                                          hitting2012[hitting2012['id']==430001]['sacFlies']
                                          )

1469   -4.147791
dtype: float64

In [134]:
for c in pitching2012.columns:
    print(f'{c}')

id
firstName
lastName
birthDate
mlbDebutDate
throwHand
batSide
primaryPosition
team
season
gamesPlayed
gamesStarted
groundOuts
airOuts
runs
doubles
triples
homeRuns
strikeOuts
baseOnBalls
intentionalWalks
hits
hitByPitch
avg
atBats
obp
slg
ops
caughtStealing
stolenBases
stolenBasePercentage
groundIntoDoublePlay
numberOfPitches
era
inningsPitched
wins
losses
saves
saveOpportunities
holds
earnedRuns
whip
battersFaced
gamesPitched
completeGames
shutouts
strikes
strikePercentage
hitBatsmen
balks
wildPitches
pickoffs
groundOutsToAirouts
winPercentage
pitchesPerInning
gamesFinished
strikeoutWalkRatio
strikeoutsPer9Inn
walksPer9Inn
hitsPer9Inn
runsScoredPer9
homeRunsPer9
inheritedRunners
inheritedRunnersScored
sacBunts
sacFlies
blownSaves
outs
totalBases

In [135]:
pitching2012

,id,firstName,lastName,birthDate,mlbDebutDate,throwHand,batSide,primaryPosition,team,season,...,hitsPer9Inn,runsScoredPer9,homeRunsPer9,inheritedRunners,inheritedRunnersScored,sacBunts,sacFlies,blownSaves,outs,totalBases
0,518526,David,Carpenter,1987-09-01,2012-04-13,R,R,P,Los Angeles Angels,2012,...,9.53,3.18,1.36,22,8,1,1,NaN,NaN,NaN
1,445001,Robert,Cassevah,1985-09-11,2010-04-09,R,R,P,Los Angeles Angels,2012,...,9.00,14.40,3.60,7,5,1,2,NaN,NaN,NaN
2,275933,Scott,Downs,1976-03-17,2000-04-09,L,L,P,Los Angeles Angels,2012,...,8.47,4.14,0.59,25,7,0,2,NaN,NaN,NaN
3,446264,Barry,Enright,1986-03-30,2010-06-30,R,R,P,Los Angeles Angels,2012,...,17.18,2.45,2.45,1,1,0,0,NaN,NaN,NaN
4,457117,Ernesto,Frieri,1985-07-19,2009-09-26,R,R,P,San Diego Padres,2012,...,6.94,3.09,1.54,2,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,592804,Tyler,Thornburg,1988-09-29,2012-06-19,R,R,P,Milwaukee Brewers,2012,...,9.82,6.95,3.27,0,0,1,0,NaN,NaN,NaN
842,407842,Jose,Veras,1980-10-20,2006-08-05,R,R,P,Milwaukee Brewers,2012,...,8.19,4.03,0.67,26,4,1,2,NaN,NaN,NaN
843,150116,Randall,Wolf,1976-08-22,1999-06-11,L,L,P,Milwaukee Brewers,2012,...,11.32,4.36,1.33,0,0,8,4,NaN,NaN,NaN
844,150116,Randall,Wolf,1976-08-22,1999-06-11,L,L,P,Baltimore Orioles,2012,...,9.98,9.39,1.17,3,0,2,0,NaN,NaN,NaN
845,150116,Randall,Wolf,1976-08-22,1999-06-11,L,L,P,NaN,2012,...,11.19,4.85,1.31,3,0,10,4,NaN,NaN,NaN

In [136]:
pitching2012['groundOuts'].isnull().sum()

0

In [138]:
pitching2012['airOuts'].isnull().sum()

0

In [139]:
pitching2012['strikeOuts'].isnull().sum()

0

In [142]:
(pitching2012['groundOuts'] + pitching2012['airOuts'] + pitching2012['strikeOuts']).sum()

146502

In [143]:
hitting2012['runs'].sum()

13222

In [537]:
wsb = ((hitting2012[hitting2012['id']==430001]['stolenBases']*runSB)-(hitting2012[hitting2012['primaryPosition']!='P']['stolenBases']*runSB).mean())
wcs = ((hitting2012[hitting2012['id']==430001]['caughtStealing']*runSB*-2)-
       (hitting2012[hitting2012['primaryPosition']!='P']['caughtStealing']*runSB*-2).mean())

In [538]:
wsb + wcs

1469    0.967187
dtype: float64

In [480]:
# Load the data downloaded from api
fielding_temp = pd.read_csv('fielding_data_2012_2019.csv')

c:\program files\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (16,26,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [481]:
fielding_temp.dtypes

Unnamed: 0                int64
id                        int64
firstName                object
lastName                 object
birthDate                object
mlbDebutDate             object
throwHand                object
batSide                  object
primaryPosition          object
team                     object
season                    int64
assists                   int64
putOuts                   int64
errors                    int64
chances                   int64
fielding                 object
rangeFactorPerGame       object
innings                 float64
games                     int64
gamesStarted              int64
doublePlays               int64
caughtStealing          float64
passedBall              float64
stolenBases             float64
wildPitches             float64
stolenBasePercentage     object
rangeFactorPer9Inn       object
triplePlays             float64
throwingErrors          float64
catcherERA              float64
catchersInterference    float64
pickoffs                float64
code                     object
name                     object
type                     object
abbreviation             object
dtype: object

In [482]:
fielding_temp['fielding'] = pd.to_numeric(fielding_temp['fielding'],errors='coerce')
fielding_temp['rangeFactorPerGame'] = pd.to_numeric(fielding_temp['rangeFactorPerGame'],errors='coerce')
fielding_temp['stolenBasePercentage'] = pd.to_numeric(fielding_temp['stolenBasePercentage'],errors='coerce')
fielding_temp['rangeFactorPer9Inn'] = pd.to_numeric(fielding_temp['rangeFactorPer9Inn'],errors='coerce')

In [483]:
fielding_temp

,Unnamed: 0,id,firstName,lastName,birthDate,mlbDebutDate,throwHand,batSide,primaryPosition,team,...,rangeFactorPer9Inn,triplePlays,throwingErrors,catcherERA,catchersInterference,pickoffs,code,name,type,abbreviation
0,0,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,Los Angeles Angels,...,NaN,NaN,NaN,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
1,1,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,Los Angeles Angels,...,NaN,NaN,NaN,NaN,NaN,NaN,9,Outfielder,Outfielder,RF
2,2,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,Los Angeles Dodgers,...,NaN,NaN,NaN,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
3,3,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,Los Angeles Dodgers,...,NaN,NaN,NaN,NaN,NaN,NaN,9,Outfielder,Outfielder,RF
4,4,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21216,21216,605540,Brandon,Woodruff,1993-02-10,2017-08-04,R,L,P,Milwaukee Brewers,...,1.12,0.0,0.0,NaN,NaN,NaN,1,Pitcher,Pitcher,P
21217,21217,592885,Christian,Yelich,1991-12-05,2013-07-23,R,L,RF,Milwaukee Brewers,...,1.74,0.0,0.0,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
21218,21218,592885,Christian,Yelich,1991-12-05,2013-07-23,R,L,RF,Milwaukee Brewers,...,9.00,0.0,0.0,NaN,NaN,NaN,8,Outfielder,Outfielder,CF
21219,21219,592885,Christian,Yelich,1991-12-05,2013-07-23,R,L,RF,Milwaukee Brewers,...,1.91,0.0,2.0,NaN,NaN,NaN,9,Outfielder,Outfielder,RF
21220,21220,592885,Christian,Yelich,1991-12-05,2013-07-23,R,L,RF,Milwaukee Brewers,...,NaN,0.0,0.0,NaN,NaN,NaN,10,Designated Hitter,Hitter,DH

In [484]:
# Didn't save it correctly, so drop a column
fielding_temp.drop('Unnamed: 0', axis=1, inplace=True)

In [485]:
# Season 2019 plans to be test data, so let's remove it from our analysis now
fielding_temp.drop(fielding_temp[fielding_temp['season'] == 2019].index, inplace = True)

In [486]:
# This series contains IDs of players that moved.
movedPlayers = fielding_temp[fielding_temp['team'].isnull()]['id']

In [487]:
fielding_temp.drop(fielding_temp[fielding_temp['id'].isin(movedPlayers) & 
                               fielding_temp['team'].notnull()].index,inplace = True)

In [488]:
fielding_temp['primaryPosition'].fillna('DH',inplace = True)

In [489]:
fielding2012 = fielding_temp[fielding_temp['season']==2012]

In [490]:
fielding2012.columns

Index(['id', 'firstName', 'lastName', 'birthDate', 'mlbDebutDate', 'throwHand',
       'batSide', 'primaryPosition', 'team', 'season', 'assists', 'putOuts',
       'errors', 'chances', 'fielding', 'rangeFactorPerGame', 'innings',
       'games', 'gamesStarted', 'doublePlays', 'caughtStealing', 'passedBall',
       'stolenBases', 'wildPitches', 'stolenBasePercentage',
       'rangeFactorPer9Inn', 'triplePlays', 'throwingErrors', 'catcherERA',
       'catchersInterference', 'pickoffs', 'code', 'name', 'type',
       'abbreviation'],
      dtype='object')

In [491]:
fielding2012

,id,firstName,lastName,birthDate,mlbDebutDate,throwHand,batSide,primaryPosition,team,season,...,rangeFactorPer9Inn,triplePlays,throwingErrors,catcherERA,catchersInterference,pickoffs,code,name,type,abbreviation
4,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,NaN,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
5,110029,Bob,Abreu,1974-03-11,1996-09-01,R,L,RF,NaN,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,9,Outfielder,Outfielder,RF
7,488721,Peter,Bourjos,1987-03-31,2010-08-03,R,R,OF,Los Angeles Angels,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,8,Outfielder,Outfielder,CF
8,594777,Kole,Calhoun,1987-10-14,2012-05-22,L,L,RF,Los Angeles Angels,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,7,Outfielder,Outfielder,LF
9,594777,Kole,Calhoun,1987-10-14,2012-05-22,L,L,RF,Los Angeles Angels,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,9,Outfielder,Outfielder,RF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,502139,Joshua,Stinson,1988-03-14,2011-09-02,R,R,P,Milwaukee Brewers,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Pitcher,Pitcher,P
2461,592804,Tyler,Thornburg,1988-09-29,2012-06-19,R,R,P,Milwaukee Brewers,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Pitcher,Pitcher,P
2466,150275,Yorvit,Torrealba,1978-07-19,2001-09-05,R,R,C,NaN,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Catcher,Catcher,C
2468,430001,Rickie,Weeks Jr.,1982-09-13,2003-09-15,R,R,2B,Milwaukee Brewers,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,4,Second Base,Infielder,2B
2471,150116,Randall,Wolf,1976-08-22,1999-06-11,L,L,P,NaN,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Pitcher,Pitcher,P

In [544]:
#oba_numer = (hitting2012[hitting2012['id']==116338]['assists'] + 
(((fielding2012[fielding2012['id']==430001]['assists'] + 
 fielding2012[fielding2012['id']==430001]['putOuts'] -
 fielding2012[fielding2012['id']==430001]['errors']*2 + 
 fielding2012[fielding2012['id']==430001]['doublePlays']
)/fielding2012[fielding2012['id']==430001]['chances']) * fielding2012[fielding2012['id']==430001]['rangeFactorPerGame'])/1.25

2468    3.361738
dtype: float64

In [545]:
fielding2012[fielding2012['id']==430001]['rangeFactorPerGame']

2468    4.01
Name: rangeFactorPerGame, dtype: float64

In [551]:
(fielding2012[fielding2012['id']==116539]['fielding'] + fielding2012[fielding2012['id']==116539]['rangeFactorPerGame'])/2.5

680    1.86
dtype: float64

In [541]:
fielding2012[(fielding2012['primaryPosition']!='P') & (fielding2012['primaryPosition']!='C') ]['rangeFactorPerGame'].mean()

2.5454827175208585

In [549]:
fielding2012[(fielding2012['primaryPosition']!='P') & (fielding2012['primaryPosition']!='C') ]['rangeFactorPerGame'].mean()

2.5454827175208585

In [552]:
from pybaseball import pitching_stats

In [554]:
pitch_data = pitching_stats(2012,2013)

,Season,Name,Team,Age,W,L,ERA,WAR,G,GS,...,wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi)
94,2013.0,Clayton Kershaw,Dodgers,25.0,16.0,9.0,1.83,7.2,33.0,33.0,...,0.74,NaN,0.339,0.635,0.485,0.563,0.873,0.763,0.492,23.4
232,2012.0,Justin Verlander,Tigers,29.0,17.0,8.0,2.64,6.9,33.0,33.0,...,1.58,NaN,0.325,0.648,0.494,0.644,0.812,0.759,0.523,23.4
149,2013.0,Matt Harvey,Mets,24.0,9.0,5.0,2.27,6.9,26.0,26.0,...,0.79,NaN,0.333,0.654,0.500,0.564,0.829,0.744,0.521,21.1
347,2012.0,Felix Hernandez,Mariners,26.0,13.0,9.0,3.06,6.6,33.0,33.0,...,1.51,NaN,0.338,0.609,0.474,0.568,0.880,0.770,0.504,22.2
313,2013.0,Adam Wainwright,Cardinals,31.0,19.0,9.0,2.94,6.2,34.0,34.0,...,NaN,NaN,0.339,0.619,0.478,0.605,0.907,0.799,0.496,23.6